.body {
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #F6F6F8;
  margin: 0;
}

.body .main {
  flex-grow: 1;
  overflow-x: auto;
}

.body .nav {
  width: 240px;
  flex-shrink: 0;
}
