.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.linkContainer {
  text-align: center;
}

.socialLoginContainer {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.socialButtonContainer {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
