.tag {
  margin-right: 4px;
  color: #2D38BA;
}

.chevronRight {
  width: 24px;
  height: 24px;
  color: #C2C3CD;
}

.paginatorContainer {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
