
.socialButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  padding: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialButtonImage {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.google {
  background-color: #FFF3F2;
}

.naver {
  background-color: #EBF8F1;
}

.facebook {
  background-color: #EAEFFD;
}

.kakao {
  background-color: #FAF2E6;
}
